
body{
    background-color: white;
    background-image: url(http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/silverware.jpg);
    background-attachment: fixed;
    
}
h1{
    padding: 15px;
    text-align: center;
    background: #F0F0F0;
    color:  #A4A400;
    font-size: 22pt;
    font-family: Lucida Sans Unicode, Helvetica, Arial;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.25em;


    
    }


    ul.bulleted{
        list-style-image: url(http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/1/pie_icon.gif); 

    }
    
    h2{
        padding: 15px;
        text-align: left;
        background: #F0F0F0;
        color:  #A4A400;
        font-size: 18pt;
        font-family: Lucida Sans Unicode, Helvetica, Arial;
        font-weight: normal;
        text-decoration: underline;
        letter-spacing: 0.25em;
        display: inline-flex;
        
        }
    
    pre{
        font-family: Georgia,Garamond;
        font-size: 11pt;
    }
    
    div{
        border-bottom: 1px solid black;
    }
    
    .Usercomments{
        background: #FFFFA8;
        font-style: italic;
    }
    
    #link2{
        text-align: right;
        font-family: monospace;
    }

    #subdiv{
        padding-left: 4%;
        padding-right: 4%;
    }

    #strikeid{
        text-decoration: line-through;    
    }



