body{
    background-color:gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.content-wrapper{
    padding: 10px 30px;
}
p{
    text-align: left;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #1D758F;
}
h2{
    color: #1D758F;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.mainWords{
    color:darkcyan;
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

ul li{
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 50px;
}

dt{
    font-weight: bolder;
    color: tomato;
}


dd{
    font-weight: lighter;
    color:teal;
}


/* p::first-letter {
    float: left;
    line-height: 10px;
    font-size: 75px;
    font-family: Montserrat;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 3px;
    
  } */